*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}
.gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
}
.blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}
.container{
    width: 100%;
    padding: 0 2rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid red;

}
header{
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    display: flex;
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 500;

}
nav{
    display: flex;
    text-align: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a{
    color: inherit;
    text-decoration: none;

    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;

}
nav a:hover{
    color: #a7a7a7;
}

.sign{
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.sign:hover{
    background-color: white;
}
span{
    color: rgba(80, 10, 141, 0.575);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}
.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
    border: 1px solid yellow;
}
.box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0, #757575,#656565);
    background-size: 200%;
    animation: animegradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
@keyframes animegradient {
    to{
        background-position: 200%;
    }
    
}
.box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}
.box .tag:hover{
    color: #5300a0;
}
.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);

}
.content p{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: gray;
}
.btns{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}
/*.doc{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem, 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}*/
.doc{
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    border: 1px solid #2a2a2a;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}
.doc:hover{
    background-color: #1a1a1a;
}
.get{
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}
.get:hover{
    background-color: grey;
}
.robot{
    position: absolute;
    top: 0;
    right: -25%;
}

/* TABLET RESPONSIVE */
@media (max-width: 1300px){
    header{
        padding: 1rem 0.5rem;
    }
    
    .content{
        margin-top: 85%;
    }

    .robot{
        scale: 0.6;
        top: -20%;
        right: 2%;
    }
}


/* MOBILE RESPONSIVE */
@media (max-width: 768px){
    header{
        padding: 1rem 0.1rem;
    }

    nav{
        display: none;
    }

    header h1{
        font-size: 2rem;
    }

    .sign{
        padding: 0.6rem 1.5rem;
    }

    .content{
        margin-top: 25rem;
    }

    .robot{
        scale: 1;
        top: -25%;
        right: 0;
    }

    .content{
        max-width: 30rem;
        margin-left: 10%;
    }

    .box{
        width: 12rem;
    }
    
    .content h1{
        font-size: 2.5rem;
    }

    .content p{
        font-size: 1rem;
    }

    .doc{
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
    }

    .get{
        font-size: 0.8rem;
        padding: 0.8rem 2rem;
    }

}


@media (max-width: 480px) {

    header h1{
        font-size: 1.5rem;
    }

    .sign{
        padding: 0.4rem 1rem;
    }

    .robot{
        top: -28%;
        right: 0;
    }


    .content{
        max-width: 32rem;
        margin-left: 10%;
        margin-top: 15rem;
    }

    .box{
        width: 15rem;
        height: 2rem;
    }
    
    .content h1{
        font-size: 2rem;
        margin: 1rem 0;
    }

    .doc{
        font-size: 0.6rem;
        padding: 0.5rem 1.5rem;
    }

    .get{
        font-size: 0.6rem;
        padding: 0.5rem 1.5rem;
    }
}